@model IEnumerable<prjSocialMediaPlatform.Models.Post>

@{
    ViewBag.Title = "社群媒體平台";
}

<main>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p class="mt-4"><a class="btn btn-outline-dark" href="@Url.Action("CreatePost", "Home")">+ 發布貼文</a></p>
        </section>
    </div>

    <hr />

    <ul>
        @foreach (var post in Model)
        {
            <p>@post.UserName</p>
            <p>@post.Content</p>
            <small>發佈日期: @post.CreatedAt.ToString()</small>

            <div class="form-group d-flex align-items-center mb-4">
                <p class="mt-4">留言<input name="Comment" class="form-control flex-grow-1" /><a class="btn btn-outline-dark" href="@Url.Action("Comment", "Home")">送出</a></p>
            </div>

            <hr />
        }
    </ul>
</main>