@model IEnumerable<prjSocialMediaPlatform.Models.Post>

@{
    ViewBag.Title = "社群媒體平台";
}

<style>
    .small {
        margin-bottom: 30px;
    }
</style>

<main>
    @if (Session.Count != 0)
    {
        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <p class="mt-4"><a class="btn btn-outline-dark" href="@Url.Action("CreatePost", "Home")">+ 發布貼文</a></p>
            </section>
        </div>

        <hr />
    }

    @foreach (var post in Model)
    {
        <div>

            @if (Session.Count != 0)
            {
                if (@post.UserName.ToString().Equals(Session["UserName"].ToString()))
                {
                    <div class="margin-bottom=30px">
                        <button class="btn btn-outline-dark mt-3" onclick="location.href='@Url.Action("Edit", "Home", new { id = post.PostID })'">編輯</button>
                        <form method="post" action="@Url.Action("Delete", "Home", new { id = post.PostID })" onsubmit="return confirm('確定要刪除嗎？');">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-outline-dark mt-3">刪除</button>
                        </form>
                    </div>
                }
            }

            <p>@post.UserName</p>
            <p>@post.Content</p>
            <small>發佈日期: @post.CreatedAt.ToString()</small>
            <p />
        </div>

        using (Html.BeginForm("Comment", "Home", FormMethod.Post))
        {
            if (Session.Count != 0)
            {
                <form asp-action="Comment" method="post">

                    @Html.AntiForgeryToken()

                    <div class="form-group d-flex align-items-center mb-4">
                        <textarea name="Content" placeholder="輸入你的留言"></textarea>
                        <button class="btn btn-outline-dark mt-3" onclick="location.href='@Url.Action("Comment", "Home", new { id = post.PostID })'">送出留言</button>
                    </div>

                </form>
            }
        }

        <hr />
    }

</main>